<!DOCTYPE html>
<html>
<head>
  <title>Create Movie</title>
  <style>
    textarea {
      resize: horizontal;
      height: 100px;
      min-height: 200px;
      max-height: 400px;
    }
  </style>
</head>
<body>
<h1>Create Movie</h1>
<form method="post" action="/movies/create" enctype="multipart/form-data">
  <label>Title:</label>
  <input type="text" name="title" required><br>
  <label>Description:</label><br>
  <textarea name="description" required></textarea><br>
  <label>Release Year:</label>
  <input type="text" name="releaseYear" required><br>
  <label>Director:</label>
  <input type="text" name="director" required><br>
  <label>Genre:</label>
  <input type="text" name="genre" required><br>
  <label>Actors:</label>
  <input type="text" name="actors" required><br>
  <label>Duration:</label>
  <input type="text" name="duration" required><br>
  <label>Rating:</label>
  <input type="number" name="rating" step="0.1" min="0" max="10" required><br>
  <label>Cover Image:</label>
  <input type="file" name="coverImageFile" required><br>
  <label>Video:</label>
  <input type="file" name="videoFile" required><br>
  <input type="submit" value="Create">
</form>
</body>
</html>
